In [1]:
import tomica
print(tomica.__file__)

/Users/zhangyangfa/rust-projects/tomica/tomica/__init__.py

In [2]:
import polars as pl
import random

In [3]:
data = pl.select(
    pl.lit(1).sample(n=100, with_replacement=True)  # 先采样
    .map_elements(lambda _: random.uniform(-50, 50), return_dtype=pl.Float64)
).to_series()

In [4]:
data

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	42.263998
	25.833798
	-42.532396
	29.94124
	…
	30.133371
	35.031203
	19.42237
	-13.536013
	-36.131844
]

In [5]:
data1 = tomica.operators.ts_delay(data,1)

In [6]:
tomica.operators.ts_delta(data,1)

shape: (100,)
Series: 'literal' [f64]
[
	null
	32.550259
	-16.4302
	-68.366193
	72.473636
	…
	59.365314
	4.897832
	-15.608833
	-32.958383
	-22.595831
]

In [7]:
tomica.operators.ts_returns(data,1)

shape: (100,)
Series: 'literal' [f64]
[
	null
	3.350951
	-0.388752
	-2.646386
	-1.703963
	…
	-2.030837
	0.162538
	-0.445569
	-1.696929
	1.669312
]

In [8]:
tomica.operators.ts_sum(data,1)

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	42.263998
	25.833798
	-42.532396
	29.94124
	…
	30.133371
	35.031203
	19.42237
	-13.536013
	-36.131844
]

In [9]:
tomica.operators.ts_mean(data,3)

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	25.988869
	25.937178
	8.5218
	4.414214
	…
	-1.109925
	11.977544
	28.195648
	13.639187
	-10.081829
]

In [10]:
tomica.operators.ts_max(data,3)

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	42.263998
	42.263998
	42.263998
	29.94124
	…
	30.133371
	35.031203
	35.031203
	35.031203
	19.42237
]

In [11]:
tomica.operators.ts_min(data,3)

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	9.713739
	9.713739
	-42.532396
	-42.532396
	…
	-29.231943
	-29.231943
	19.42237
	-13.536013
	-36.131844
]

In [12]:
tomica.operators.ts_std(data,3)

shape: (100,)
Series: 'literal' [f64]
[
	null
	23.016509
	16.275376
	44.970947
	40.708794
	…
	29.805484
	35.772385
	7.982794
	24.794708
	27.93772
]

In [13]:
tomica.operators.ts_rank(data,3)

shape: (100,)
Series: 'literal' [f64]
[
	1.0
	2.0
	2.0
	1.0
	3.0
	…
	3.0
	3.0
	1.0
	1.0
	1.0
]

In [14]:
tomica.operators.ts_variance(data,3)

shape: (100,)
Series: 'literal' [f64]
[
	null
	529.759687
	264.887859
	2022.386049
	1657.205898
	…
	888.366902
	1279.663519
	63.724993
	614.777532
	780.516219
]

In [15]:
tomica.operators.ts_quantile_up(data,10)

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	42.263998
	42.263998
	25.833798
	29.94124
	…
	25.814361
	30.133371
	25.814361
	19.42237
	19.42237
]

In [16]:
tomica.operators.ts_quantile_down(data,10)

shape: (100,)
Series: 'literal' [f64]
[
	9.713739
	9.713739
	25.833798
	9.713739
	9.713739
	…
	-29.231943
	-10.330595
	-10.330595
	-13.536013
	-13.536013
]